<!doctype html>
<html>
<head>
    <title>Track</title>
</head>
<body>
<%- include('partial/navigation')%>
<h1>Track</h1>
<div>
    <h2><%= name%></h2>
    <p>mbid: <%=mbid%></p>
    <p>playcount: <%=playcount %></p>
    <p>duration: <%=duration%></p>
</div>
<div>
    <h4>Authors</h4>
    <% for (author of authors){%>
        <a href="<%= author.link%>">
            <%= author.name%>
        </a>
        <br>
    <%}%>
</div>
</body>
</html>
